In [13]:
from data_classes import LAQNData, HealthData, MetData, IncomeData
from os import path
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import requests

Load the resampled daily NO2 data:

In [4]:
species = "NO2"
region = "London"
NO2 = LAQNData(species, region)
daily_NO2_df = NO2.read("laqn-resample")

Failed to detect the name of this notebook, you can set it manually with the WANDB_NOTEBOOK_NAME environment variable to enable code saving.
wandb: Currently logged in as: michellewl (use `wandb login --relogin` to force relogin)
wandb: wandb version 0.12.17 is available!  To upgrade, please run:
wandb:  $ pip install wandb --upgrade

VBox(children=(Label(value=' 0.00MB of 0.00MB uploaded (0.00MB deduped)\r'), FloatProgress(value=1.0, max=1.0)â€¦

Load the resampled daily income data:

In [8]:
daily_NO2_df.head(5)

,BN2,BP0,EI3,BT3,A30,EA1,EN4,EN1,BT5,EN7,...,WAB,WE0,WL2,WL4,WM0,WM5,WM8,WMA,WMZ,WMC
1996-01-01,NaN,NaN,NaN,NaN,NaN,52.300000,NaN,30.200000,NaN,NaN,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-01-02,NaN,76.979167,NaN,NaN,NaN,69.366667,NaN,44.378261,NaN,NaN,...,NaN,53.720833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-01-03,NaN,73.320833,NaN,NaN,NaN,56.347826,NaN,39.239130,NaN,NaN,...,NaN,56.904167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-01-04,NaN,74.929167,NaN,NaN,NaN,59.891667,NaN,47.695652,NaN,NaN,...,NaN,62.004167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-01-05,NaN,63.731818,NaN,NaN,NaN,58.891667,NaN,46.678261,NaN,NaN,...,NaN,41.429167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
income = IncomeData()
daily_income_df = income.read("income-resample")

wandb: wandb version 0.12.17 is available!  To upgrade, please run:
wandb:  $ pip install wandb --upgrade

VBox(children=(Label(value=' 0.00MB of 0.00MB uploaded (0.00MB deduped)\r'), FloatProgress(value=1.0, max=1.0)â€¦

In [9]:
daily_income_df.head(5)

,E09000011,E09000003,E09000024,E09000002,E09000018,E09000005,E09000015,E09000006,E09000019,E09000025,...,E09000023,E09000009,E09000016,E09000001,E09000031,E09000027,E09000022,E09000032,E09000004,E09000033
1997-01-01,13456.000000,12621.000000,16260.000000,8410.000000,13943.0,10766.000000,12901.000000,13902.000000,16476.000000,5910.000000,...,9226.000000,12923.000000,11602.000000,81474.000000,10461.000000,21860.000000,11074.000000,13863.000000,12101.000000,20968.000000
1997-01-02,13456.169863,12622.961644,16260.986301,8410.704110,13943.6,10767.298630,12903.035616,13903.561644,16476.531507,5911.405479,...,9226.923288,12923.969863,11603.232877,81496.745205,10461.621918,21861.254795,11074.810959,13867.306849,12101.219178,20970.556164
1997-01-03,13456.339726,12624.923288,16261.972603,8411.408219,13944.2,10768.597260,12905.071233,13905.123288,16477.063014,5912.810959,...,9227.846575,12924.939726,11604.465753,81519.490411,10462.243836,21862.509589,11075.621918,13871.613699,12101.438356,20973.112329
1997-01-04,13456.509589,12626.884932,16262.958904,8412.112329,13944.8,10769.895890,12907.106849,13906.684932,16477.594521,5914.216438,...,9228.769863,12925.909589,11605.698630,81542.235616,10462.865753,21863.764384,11076.432877,13875.920548,12101.657534,20975.668493
1997-01-05,13456.679452,12628.846575,16263.945205,8412.816438,13945.4,10771.194521,12909.142466,13908.246575,16478.126027,5915.621918,...,9229.693151,12926.879452,11606.931507,81564.980822,10463.487671,21865.019178,11077.243836,13880.227397,12101.876712,20978.224658

In [10]:
LAD_codes_df = income.read("income-metadata")

wandb: wandb version 0.12.17 is available!  To upgrade, please run:
wandb:  $ pip install wandb --upgrade

VBox(children=(Label(value=' 0.00MB of 0.00MB uploaded (0.00MB deduped)\r'), FloatProgress(value=0.0, max=1.0)â€¦

In [22]:
set(LAD_codes_df.local_authority.tolist())

{'Barking and Dagenham',
 'Barnet',
 'Bexley',
 'Brent',
 'Bromley',
 'Camden',
 'City of London',
 'Croydon',
 'Ealing',
 'Enfield',
 'Greenwich',
 'Hackney',
 'Hammersmith and Fulham',
 'Haringey',
 'Harrow',
 'Havering',
 'Hillingdon',
 'Hounslow',
 'Islington',
 'Kensington and Chelsea',
 'Kingston upon Thames',
 'Lambeth',
 'Lewisham',
 'Merton',
 'Newham',
 'Redbridge',
 'Richmond upon Thames',
 'Southwark',
 'Sutton',
 'Tower Hamlets',
 'Waltham Forest',
 'Wandsworth',
 'Westminster'}

In [14]:
meta_url = "http://api.erg.kcl.ac.uk/AirQuality/Information/MonitoringSites/GroupName=London/Json"
sites_request = requests.get(meta_url)
meta_df = pd.DataFrame(sites_request.json()['Sites']['Site'])
meta_df.head(5)

,@LocalAuthorityCode,@LocalAuthorityName,@SiteCode,@SiteName,@SiteType,@DateClosed,@DateOpened,@Latitude,@Longitude,@LatitudeWGS84,@LongitudeWGS84,@DisplayOffsetX,@DisplayOffsetY,@DataOwner,@DataManager,@SiteLink
0,27,Richmond,TD0,"- National Physical Laboratory, Teddington",Suburban,2018-01-01 00:00:00,1996-08-08 00:00:00,51.4243043441456,-0.345714576446947,6696103.27675,-37808.8858115,0,-200,Richmond,King's College London,http://www.londonair.org.uk/london/asp/publicd...
1,1,Barking and Dagenham,BG3,Barking and Dagenham - North Street,Kerbside,2011-05-25 00:00:00,2007-03-16 00:00:00,51.540444,0.074418,6717454.5833,8284.17386585,0,0,Barking and Dagenham,King's College London,http://www.londonair.org.uk/london/asp/publicd...
2,1,Barking and Dagenham,BG1,Barking and Dagenham - Rush Green,Suburban,,1999-11-02 00:00:00,51.563752,0.177891,6721627.34498,19802.7355367,0,0,Barking and Dagenham,King's College London,http://www.londonair.org.uk/london/asp/publicd...
3,1,Barking and Dagenham,BG2,Barking and Dagenham - Scrattons Farm,Suburban,,1999-10-17 00:00:00,51.529389,0.132857,6715476.18683,14789.5735883,0,0,Barking and Dagenham,King's College London,http://www.londonair.org.uk/london/asp/publicd...
4,2,Barnet,BN2,Barnet - Finchley,Urban Background,2012-04-20 00:00:00,2000-08-09 13:00:00,51.591901,-0.205992,6726669.62886,-22930.9245475,0,0,Barnet,King's College London,http://www.londonair.org.uk/london/asp/publicd...

Unify the lists of local authority names:

In [68]:
income_LAs = [item for item in set(LAD_codes_df.local_authority.tolist())]
NO2_LAs = [item for item in set(meta_df["@LocalAuthorityName"].tolist())]

In [91]:
mismatches = []
count = 0
for LA in income_LAs:
    if LA not in NO2_LAs:
        mismatches.append(LA)
    else:
        count+=1
print(f"Pass 1:\nMatched {count} out of {len(income_LAs)} local authorities.")

if mismatches:
    print("\nPass 2:\nSearching for matches...")
    mismatch_dict = {}
    search_letters = [LA[0:3] for LA in mismatches]
    NO2_LAs_breakdown = [LA.split(" ") for LA in NO2_LAs]
    for i in range(len(search_letters)):
        for LA in NO2_LAs_breakdown:
            for word in LA:
                if search_letters[i] in word:
                    mismatch_dict.update({" ".join(LA): mismatches[i]})
    if mismatch_dict:
        print("Found matches (<NO2_LA>: <income_LA>):")
        print(mismatch_dict)

Pass 1:
Matched 31 out of 33 local authorities.

Pass 2:
Searching for matches...
Found matches (<NO2_LA>: <income_LA>):
{'Kingston': 'Kingston upon Thames', 'Richmond': 'Richmond upon Thames'}